@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=IBM+Plex+Mono:wght@300;500&family=Silkscreen&display=swap');

body{
    background-color: rgba(175, 115, 55, 0.537);
    font-family: 'Cairo', sans-serif; 
    color:#000000;
}

h1{
    font-family: 'Silkscreen', cursive;
    font: size 40px;
    color:rgba(109, 100, 241, 0.913);
}

p{
    font-family: 'Cairo', sans-serif; 
}