@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo&family=IBM+Plex+Mono:wght@300;500&family=Silkscreen&display=swap');


body{
    background-image:url("images/5-2.png");
    background-size: 10%;
    background-blend-mode:overlay;
    background-position: center;
    background-color: rgba(210, 186, 195, 0.892);
    font-family: 'Cairo', sans-serif; 
    color:#000000;
    text-align: center;
    margin-top: 170px;
}


h1{
    font-family: 'Silkscreen', cursive;
    font-size:70px;
    color:rgba(58, 46, 228, 0.661);
}

p{
    font-family: 'Silkscreen', cursive;
}