---
layout: default
---

<!DOCTYPE html>
        <html>
            <head>
                <meta charset="wyvern art fund"> 
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=Silkscreen&display=swap');
                    @import url('https://fonts.googleapis.com/css2?family=Cairo&family=IBM+Plex+Mono:wght@300;500&family=Silkscreen&display=swap');
                    </style>
                <title>Wyvern Art Fund</title>
            </head>
           <body style="background-color: rgba(202, 202, 202, 0.866);">
                <center>
                    <h1 style="font-family: 'Silkscreen', cursive; font-size:70px; color:rgba(59, 48, 220, 0.661);">Wyvern Art Fund</h1>
                    <p style="font-family:'Cairo', sans-serif">Welcome! Please make yourself feel at home.
                    </p>
                    <p style="font-family:'Cairo', sans-serif">Site maintanence, please contact info@wyv.art if you want to get in touch.
                    </p>
                    <p style="font-family:'Cairo', sans-serif"><strong> <a href = "application.html" target = "_blank" style="color: #000000">Application Portal
                    </a></strong> </p>
                </center>
            </body>
        </html>