---
layout: default
---

<!DOCTYPE html>
        <html>
            <head>
                <meta charset="UTF-8"
                    content="wyvern art fund"
                    content="wyvern foundation"> 
                <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
                <title>Wyvern Art Fund</title>
                <script src="assets/snowstorm-min.js"></script>
                <script>
                    snowStorm.excludeMobile=false
                </script>

            </head>
           <body>
               <h1>Wyvern Art Fund</h1>
                <p><strong>Project Showcase</strong></p>
                <p><strong>Blog</strong></p>
                <p><strong><a style = "text-decoration: none; color: #000000", href= "about.html" target="_blank">About
                </a></strong></p>
                <p><strong> <a href = "application.html" target = "_blank" style="color: #000000">Application Portal
                </a></strong> </p>
            
            </body>
        </html>